.management-history
  .container
    .row
      .col
        h2 История управления
        .management-history__item
          .management-history__top
            span Выберите дату:

            .slider.single-item
              div
                h3 1
              div
                h3 2
              div
                h3 3
              div
                h3 4
              div
                h3 5
              div
                h3 6

          .management-history__table.table-responsive
            table.table
              thead
                tr
                  th(scope='col') Пн
                  th(scope='col') Вт
                  th(scope='col') Ср
                  th(scope='col') Чт
                  th(scope='col') Пт
                  th(scope='col') Сб
                  th(scope='col') Вс
              tbody
                tr
                  td.plus
                    span +0,18%
                    | 31 дек
                  td.plus
                    span +5,12%
                    | 1 янв
                  td.minus
                    span -0,22%
                    | 2 янв
                  td.plus
                    span +4,48%
                    | 3 янв
                  td.plus
                    span +1,12%
                    | 4 янв
                  td.minus
                    span -1,25%
                    | 5 янв
                  td.plus
                    span +7,12%
                    | 6 янв

                tr
                  td.plus
                    span +0,18%
                    | 31 дек
                  td.plus
                    span +5,12%
                    | 1 янв
                  td.minus
                    span -0,22%
                    | 2 янв
                  td.plus
                    span +4,48%
                    | 3 янв
                  td.plus
                    span +1,12%
                    | 4 янв
                  td.minus
                    span -1,25%
                    | 5 янв
                  td.plus
                    span +7,12%
                    | 6 янв

                tr
                  td.plus
                    span +0,18%
                    | 31 дек
                  td.plus
                    span +5,12%
                    | 1 янв
                  td.minus
                    span -0,22%
                    | 2 янв
                  td.plus
                    span +4,48%
                    | 3 янв
                  td.plus
                    span +1,12%
                    | 4 янв
                  td.minus
                    span -1,25%
                    | 5 янв
                  td.plus
                    span +7,12%
                    | 6 янв

                tr
                  td.plus
                    span +0,18%
                    | 31 дек
                  td.plus
                    span +5,12%
                    | 1 янв
                  td.minus
                    span -0,22%
                    | 2 янв
                  td.plus
                    span +4,48%
                    | 3 янв
                  td.plus
                    span +1,12%
                    | 4 янв
                  td.minus
                    span -1,25%
                    | 5 янв
                  td.plus
                    span +7,12%
                    | 6 янв

                tr
                  td.plus
                    span +0,18%
                    | 31 дек
                  td.plus
                    span +5,12%
                    | 1 янв
                  td.minus
                    span -0,22%
                    | 2 янв
                  td.plus
                    span +4,48%
                    | 3 янв
                  td.plus
                    span +1,12%
                    | 4 янв
                  td.minus
                    span -1,25%
                    | 5 янв
                  td.plus
                    span +7,12%
                    | 6 янв

        .management-history__result-item
          h3 События на 08.02
          .management-history__result
            table.table
              thead
                tr
                  th(scope='col') Событие
                  th(scope='col') % от банка
                  th(scope='col') Ставка
                  th(scope='col') Коэффициент
                  th(scope='col') Букмекер
                  th(scope='col') Результат
              tbody
                tr
                  td Футбол. Астон Вилла - Ливерпуль
                  td 5%
                  td ТБ (2.5)
                  td 3.2
                  td WinLine
                  td.win Выигрыш
                tr
                  td Футбол. Астон Вилла - Манчестер сити
                  td 1%
                  td 1Х
                  td 1.15
                  td ФонБет
                  td.loss Проигрыш
                tr
                  td Футбол. Астон Вилла - Ливерпуль
                  td 5%
                  td ТБ (2.5)
                  td 3.2
                  td WinLine
                  td.win Выигрыш
                tr
                  td Футбол. Астон Вилла - Ливерпуль
                  td 5%
                  td ТБ (2.5)
                  td 3.2
                  td WinLine
                  td Возврат
                tr
                  td Футбол. Астон Вилла - Ливерпуль
                  td 5%
                  td ТБ (2.5)
                  td 3.2
                  td WinLine
                  td.win Выигрыш


