aside.left-side
  a(href='#').logo
    img(src='/img/svg/black-logo.svg')
  ul.menu-list
    li
      +sprite("icon", "cabinet-ico")
      a(href='#') Мой  кабинет
    li
      +sprite("icon", "cabinet-ico")
      a(href='#') Пополнить / Снять
    li
      +sprite("icon", "cabinet-ico")
      a(href='#') Ставки iRaise
    li
      +sprite("icon", "cabinet-ico")
      a(href='#') Получить Кэшбэк
    li
      +sprite("icon", "cabinet-ico")
      a(href='#') Промо- материалы
    li
      +sprite("icon", "cabinet-ico")
      a(href='#') История  операций
    li
      +sprite("icon", "cabinet-ico")
      a(href='#') Новости