.benefits
  .container
    .row
      .col
        h2 Преимущества работы с iRaise
        .benefits-body
          .benefits-item.wow.animated.fadeIn
            +sprite("benefit-ico", "1")
            .benefits-item__title Широкий выбор  вариантов пополнений
            p Карты Visa/MasterCard, ЯндексДеньги, Альфа-клик и ещё более 10 платёжных систем
          .benefits-item.wow.animated.fadeIn(data-wow-delay='0.5s')
            +sprite("benefit-ico", "2")
            .benefits-item__title Оперативный вывод прибыли
            p Вывод прибыли в течение 24-х часов. Асболютно в любой день!
          .benefits-item.wow.animated.fadeIn(data-wow-delay='1s')
            +sprite("benefit-ico", "3")
            .benefits-item__title Широкий выбор  вариантов пополнений
            p Карты Visa/MasterCard, ЯндексДеньги, Альфа-клик и ещё более 10 платёжных систем
          .benefits-item.wow.animated.fadeIn(data-wow-delay='1.5s')
            +sprite("benefit-ico", "4")
            .benefits-item__title Широкий выбор  вариантов пополнений
            p Карты Visa/MasterCard, ЯндексДеньги, Альфа-клик и ещё более 10 платёжных систем
          .benefits-item.wow.animated.fadeIn(data-wow-delay='2s')
            +sprite("benefit-ico", "5")
            .benefits-item__title Широкий выбор  вариантов пополнений
            p Карты Visa/MasterCard, ЯндексДеньги, Альфа-клик и ещё более 10 платёжных систем
          .benefits-item.wow.animated.fadeIn(data-wow-delay='2.5s')
            +sprite("benefit-ico", "file")
            .benefits-item__title Широкий выбор  вариантов пополнений
            p Карты Visa/MasterCard, ЯндексДеньги, Альфа-клик и ещё более 10 платёжных систем