.cashback
  .container
    .row
      .col
        .cashback__item
          h2 Кэшбэк
          p Четверть заработка компании от приглашённого на постоянной основе!
            | Расскажи о сервисе iRaise друзьям и получай 25% от дохода компании!
            | А также множество денежных бонусов и мегакрутых призов!
          .d-flex
            a(href='#').default-btn Получать кэшбэк
      .col
        .d-flex.align-items-end.h-100
          .cashback__img
            img(src='./img/phone.png').img-fluid
            .cashback__cash
              span 25%
              | от дохода
              br
              | компании
