.how-work
  .container
    h2 Как работает площадка iRaise?
    .how-work__items
      .how-work__top
        .circle
        .how-work__items__logo
          .how-work__items__border--small
            img(src='./img/big-logo.png')
      .how-work__items__body
        .how-work__item.wow.slideInRight.step-one
          .step-position
            .how-work__item__position 01
            +sprite("position", "position-one")
          .how-work__item__img
            .circle--small
            .icon
          .how-work__item__description Пополняете личный  кабинет от 20$
        .how-work__item.wow.slideInRight.step-two
          .step-position
            .how-work__item__position 02
            +sprite("position", "position-two")
          .how-work__item__img
            .circle--small
            .icon
          .how-work__item__description Средства поступают в общее управление и распределяются между букмекерскими компаниями
        .how-work__item.wow.slideInRight.step-three
          .step-position
            .how-work__item__position 03
            +sprite("position", "position-three")
          .how-work__item__img
            .circle--small
            .icon
          .how-work__item__description В течение 100 дней они находятся в управлении iRaise, и вам поступает прибыль, которую можно выводить в любой день
        .how-work__item.wow.slideInRight.step-four
          .step-position
            .how-work__item__position 04
            +sprite("position", "position-four")
          .how-work__item__img
            .circle--small
            .icon
          .how-work__item__description После 100 дней внесённые средства возвращаются обратно